<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- link to app css file -->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>ZH Portfolio</title>
    </head>

    <body class="bg-dark">
        {{{body}}}

        <!-- link to app javascript file -->
        <script src="js/main.js"></script>
    </body>
</html>