<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="img/zhlogo-32x32.png">
        <!-- link to app css file -->
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>Zach Harmon</title>
    </head>

    <body class="bg-dark">
        <div class="txt-light flex flex-column justify-between margins-auto max-width row-gap-4">
            <header class="header flex justify-end txt-light pad-y-1 font-heavy">
                <div class="flex items-center">
                    <div>
                        <a class="header-section pad-1 home" href="/">Home</a>
                        <a class="header-section pad-1 projects" href="/projects">Projects</a>
                        <a class="header-section pad-1 about" href="/about">About Me</a>
                        <a class="header-section pad-1 contact" href="/contact">Contact Me</a>
                    </div>
                    <button class="marg-1 theme-btn dark-mode">Dark Mode</button>
                </div>
            </header>
            <!-- main tag will be a handlebars view that loads dynamically based on html routing-->
            {{{body}}}
            <div class="footer flex flex-column items-center row-gap-1">
                <div class="social-links flex justify-between">
                    <a class="social social-dark github" href="https://github.com/zachha" target="_blank">
                        <img src="img/github-logo.svg" />
                    </a>
                    <a class="social social-dark linkedin" href="https://www.linkedin.com/in/zachha/" target="_blank">
                        <img src="img/linkedin-logo.svg" /> 
                    </a>
                    <a class="social social-dark portfolio" href="" target="_blank">
                        <img src="" />
                    </a>
                    <a class="social social-dark gmail">
                        <img src="" />
                    </a>
                </div>
                <span class="footnote marg-1">© Zach Harmon 2024</span>
            </div>
        </div>
        <!-- link to app javascript file -->
        <script src="js/main.js"></script>
    </body>
</html>