<main class="content flex flex-content justify-center min-height content-fit">
    <div class="flex flex-column items-center">
        <div class="hline width-fill">
            <h1 class="font-extra-bold">About Me</h1>
        </div>
        <div class="flex flex-row items-center">
            <div class="about-card flex flex-column">
                <img src="img/zh_profile.png" class="profile-img" alt="picture of Zach Harmon"/>
            </div>
            <p>
                <span class="red font-18">A Full-Stack Developer who recently graduated with a B.S. in Computer Science, I have applied experience using Javascript, Node.js, React, Express.js, and mongoDB/MySQL using an MVC framework and Git as a VCS.</span>
                I have a background in medical research as a cancer clinical trials researcher at Duke University Hospital. I have worked on several projects with small teams using Git for version control. I have a strong grasp of JavaScript (including ES6+7) and I am always eager to learn better techniques and more efficient code.
                <br> <br>
                I have experience working with relational databases using MySQL and the Sequelize ORM as well as non-relational databases using MongoDB and the Mongoose ODM. I am driven to write precise and efficient code when using databases. (possibly because of a deep-seated, ever-present anxiety that I will somehow accidentally drop an entire database) When I'm notprogramming I can usually be found enjoying a video game, out taking pictures, or playing with my dog.
            </p>
        </div>
        
    </div>
</main>