<main class="content flex flex-content justify-center min-height content-fit">
    <div class="flex flex-column items-center">
        <div class="hline width-fill">
            <h1 class="font-extra-bold">About Me</h1>
        </div>
        <div class="flex flex-row items-center">
            <div class="about-card flex flex-column items-center justify-center">
                <img src="img/zh_profile.png" class="profile-img" alt="picture of Zach Harmon"/>
                <h2 class="about-card-header">Zach Harmon</h2>
                <p class="no-margins grey">Full-stack Web Developer</p>
            </div>
            <p>
                <span class="red font-18">A Full-Stack Developer who recently graduated with a B.S. in Computer Science, I have applied experience using Javascript, Typescript, Node.js, React, Express.js, and mongoDB/MySQL using an MVC framework and Git as a VCS.</span>
                <br> <br>
                I have a background in medical research as a cancer clinical trials researcher at Duke University Hospital.
                <br> <br>
                I have worked on several projects, both small-team projects and solo projects, using Git for version control. I have a strong grasp of JavaScript and Typescript and I am always eager to learn better techniques and more efficient code.
                <br> <br>
                My database experience involves working with relational databases using MySQL and the Sequelize ORM as well as non-relational databases using MongoDB and the Mongoose ODM. I am driven to write precise and efficient code when using databases (possibly because of a deep-seated, ever-present anxiety that I will somehow accidentally drop an entire database).
                <br> <br>
                When I'm not programming I can usually be found playing with my dog Laika, out taking pictures, or enjoying video games.
            </p>
        </div>
        
    </div>
</main>