<main class="content flex flex-content justify-center min-height">
    <div class="flex flex-column items-center">
        <div class="hline width-fill">
            <h1 class="font-extra-bold">Contact Me</h1>
        </div>
        <p>If you want to reach out to me to talk about a job opportunity or you just have questions you can click on the linkedin logo at the bottom of the page and leave a message for me!</p>
    </div>
</main>