<main class="content flex flex-content justify-start">
    <div class="flex flex-column items-start pad-y-2 pad-x-1">
        <p class="home-text">Hi</p>
        <p class="home-text">I'm Zach Harmon</p>
        <h2 class="font-normal">Fullstack Web Developer</h2>
        <p>Get to know About Me or Contact Me </p>
    </div>
</main>