<div class="txt-light flex-main">
    <header class="header flex-header">
        <a class="header-section home" href="/">Home</a>
        <a class="header-section projects" href="/projects">Projects</a>
        <a class="header-section about" href="/about">About Me</a>
        <a class="header-section contact" href="/contact">Contact Me</a>
    </header>
    <!-- main tag will be a handlebars view that loads dynamically based on html routing-->
    <main class="content flex-content">
        <h1>Hey, I'm Zach Harmon</h1>
        <h2>Fullstack Web Developer</h2>
        <h3>Get to know About Me or Contact Me </h3>
    </main>
    <div class="footer flex-footer">
        <span>© Zach Harmon 2024</span>
    </div>
    
</div>