<main class="content flex flex-content justify-start min-height">
    <div class="flex flex-column items-start">
        <p class="home-text">Hi</p>
        <p class="home-text">I'm Zach Harmon</p>
        <h2 class="font-normal">Fullstack Web Developer</h2>
        <p class="font-14">Get to know About Me or Contact Me </p>
    </div>
</main>