<main class="content flex flex-content justify-start min-height">
    <div class="flex flex-column items-start">
        <h1 class="home-text">Hi!</h1>
        <h1 class="home-text">My name is Zach Harmon</h1>
        <h2 class="font-normal">Full-stack Web Developer</h2>
        <p class="font-14">Get to know About Me or Contact Me </p>
    </div>
</main>